.cell {
   padding: 0.25rem;
   border-inline-start: 1px solid currentColor;
   border-block-end: 1px solid currentColor;
}

.cell.active::before {
   content: "(Sin Titulo)";
   display: block;
   padding: 0.25rem;
   background-color: #c6dafc;
   box-shadow: 0 0 10px rgba(0, 0, 0, .2);
   font-size: small;
   border-radius: 0.25rem;
}