.current-time {
   position: absolute;
   left: 22%;
   top: 13.2%;
   inline-size: 5rem;
   block-size: 0.125rem;
   background-color: var(--red10);
}

.current-time::before {
   content: '';
   display: block;
   inline-size: 1rem;
   block-size: 1rem;
   background-color: var(--red10);
   border-radius: 50%;
   transform: translateY(-50%);
}